@model Hozio.Models.site

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>site</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ahrefs.domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ahrefs.domain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ahrefs.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ahrefs.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client1s.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client1s.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.siteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
