@model IEnumerable<Hozio.Models.contact>

@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("client1", "contact"))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search">
    </p>
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.client1s.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client1s.domain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact1s.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact1s.fullPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact1s.phoneGatekeeper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact1s.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact1s.website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact1s.phoneNote)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.client1s.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client1s.domain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact1s.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact1s.fullPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact1s.phoneGatekeeper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact1s.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact1s.website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact1s.phoneNote)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.contactID })
                @Html.ActionLink("Details", "Details", new { id = item.contactID })
                @Html.ActionLink("Delete", "Delete", new { id = item.contactID })
            </td>
        </tr>
    }

</table>
